{% extends '../main/baseStructure.html' %}

{% block content %}
<div class="title">Корзина</div>
<!-- Обертка корзины -->
<div class="cart">
    <!-- Ограничитель -->
    <div class="container">
       

        
        {% if length > 0 %}
        <!-- Содержимое корзины -->
        <div class="cart_inner">
            <p style="margin-bottom: 20px;"> 
                {% with total_items=cart|length %}
                <span class="total_items">{{ total_items }} Товар(а), </span>
                <span class="total_items">{{ cart.get_total_price|floatformat:2 }} руб  </span>
                {% endwith %}
            </p>
            {% for dict in cart %}
                {% with item=dict.item %}
                {% with type=dict.type %}
                    <!-- Представление одой позиции -->
                    <div class="cart_item">
                        {% with product=item.product %}
                        <!-- Фото -->
                        <img src="{{ product.image.url }}" alt="Фото позиции">
                        <div class="single_item_view">
                            <!-- Названия пунктов -->
                            <div class="item_information">
                                
                                    <h5 class="cart_navPoint">Название</h5>
                                    <h5 class="cart_navPoint">Изменить</h5>
                                    <h5 class="cart_navPoint">Количество</h5>
                                    <h5 class="cart_navPoint">Цена</h5>
                                    <h5 class="cart_navPoint">Общая стоимость</h5>
                            </div>
                            <!-- Данные о товаре в корзине -->
                            <div class="item_data">
                                <h5 class="position">{{product.name}}</h5>
                                {% if type == 'default' %}
                                <div class="positio">                                
                                    <form action="{% url 'cart_add' product.id 'cart' %}" method="post" class="position">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input class="small_btn" type="submit" value="Добавить">
                                    </form>
                                </div>

                                {% else %}
                                <span class='position'> <b> Акционный товар </b></span>
                                {% endif %}
                                <p class="position">{{item.quantity}}</p> <br>
                                <p class="position">{{item.price|floatformat:2 }}</p> <br>
                                <p class="position">{{item.total_price|floatformat:2}}</p> 
                                <form action="{% url 'cart_remove' product.id type %}" method='post'>
                                    {% csrf_token %}
                                    <button class='small_btn'>Удалить</button>
                                </form>
                                {% endwith %}
                            </div>
                            </div>
                        </div>
                        <!-- Управление товаром в корзине -->

                {% endwith %}
                {% endwith %}
            {% endfor %}

            <h5 class="subtitle"> Введите промокод</h5>
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
                
            </div>
            <br/>
            {% endfor %}
            <form action="{% url 'stock_accept' %}" method='post' style="margin-bottom: 20px;">
                {% csrf_token%}
                <div class="amount"> 
                    {{stock_form.as_p}}
                    <button type='sybmit' class="small_btn" style="margin-left: 10px;">Добавить товар</button>
                </div>
            </form>


            <!-- Кнопка формирования заказа -->
            {% if request.user.is_authenticated %}
                <p style="margin-bottom: 40px;">Обратите внимание, оплата принимается только наличными, по адресу доставки заказа</p>
                <a href="{% url 'order_create' %}" class="btn">Оформить заказ</a>
                
            {% else %}
                <p class='order_lohout_text'>Чтобы иметь возможность оформить заказ, пожалуйста, авторизуйтесь</p>
                <div class="rev_btn">
                    <a href="{% url 'register' %}" class="btn" style="margin-right: 10px;">Регистрация</a>
                    <a href="{% url 'login' %}" class="btn">Авторизация</a>
                </div>  
            {% endif %}
           
        </div>
        {% else %}
        <h5 class="cart_name">Корзина пуста, к сожалению</h5>
        {% endif %}
    </div>
</div>
{% endblock %}