* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/*  Container */

.container {
    max-width: 100%;
    width: 1320px;
    margin: 0 auto;
    max-height: 100%;
}

/* Header */
.header {
    font-size: 14px;
    margin-top: 22px;
    
}
.header__inner {
    
    background: #ffffff;
    box-shadow: 0px 18px 223px rgba(46, 51, 46, 0.06), 0px 11.6667px 130.6px rgba(46, 51, 46, 0.0455556), 0px 6.93333px 71.0296px rgba(46, 51, 46, 0.0364444), 0px 3.6px 36.2375px rgba(46, 51, 46, 0.03), 0px 1.46667px 18.1704px rgba(46, 51, 46, 0.0235556), 0px 0.333333px 8.77546px rgba(46, 51, 46, 0.0144444);
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    /* identical to box height */


    color: #303030;

}

    /* Header left */
.header_left_side {
    display: flex; 
    margin-left: 20px;
}
.logo {
    margin-right: 22px;
}
.navPointLeft {
    color: #303030;
    text-decoration: none;
    margin-right: 20px;
}
.navPointLeft:hover {
    color: #7FB7D7;
    text-decoration: none;
}
.navPointLeft:active {
    color: #303030;
}

    /* Header Right */
.header_right_side {
    display: flex;
    align-items: center;
}
.navPointRight {
    color: #303030;
    margin-right: 20px;
    text-decoration: none;
}
.navPointRight:hover {
    color: #7FB7D7;
    text-decoration: none;
}
.navPointRight:active {
    color:#303030;
}
.profile_logo {
    width: 50px;
    height: 50px;
    margin-right:20px;
}

.content {
    min-height: calc(100vh - 297px);
}

/* Footer */
.footer {
    background: #7FB7D7;
    width: 100%;
    color: #ffffff;
    height: 217px;
}
.footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    /* Footer Left */
.footer_left_side {
    display: flex;
    flex-direction: row;

    margin:20px 0 20px 40px;
}
.footer_logo1 {
    margin-bottom: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.footer_logo2 {
    margin-top: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}
.footer_navbar {
    display: flex;
    flex-direction: column;
    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.footer_nav_point {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer_nav_point:hover {
    text-decoration: underline;
}
.footer_nav_point:active {
    color:#303030;
}
.first_col {
    margin-right: 40px;
}
    /* Footer Right */
.footer_right_side {
    display:flex;
    flex-direction: column;
    margin: 20px 40px 20px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.socials {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.social_link {
    color: #303030;
    margin-left: 20px;
    text-decoration: none;
}
.social_link:hover {
    color: #303030;
    text-decoration: none;
}
.social_link:active {
    color: #303030;
}
.phone {
    margin-bottom: 7px;
    text-align: end ;
}
.email {
    color: #ffffff;
    text-align: end;
    text-decoration: none;
}

/* Pages Content */
    /* Main Page */

.category_name {
    font-style: italic;
    font-size: 30px;
    margin: 30px 0;
}
.product_scroll {
    max-width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_container {
    min-width: 600px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
}
.item_image {
    height: 250px;
    min-width: 250px;
}
.item_name {
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;

    margin-bottom: 30px;
}
.item_discription {
    margin-bottom: 30px;
}   

/* About */

.about_us {
    margin-top:40px;
   
}
.about_title {
    font-size: 24px;
    margin-bottom: 79px;
    margin-left: 20px;
}
.about_text{
    font-size: 18px;
    margin-bottom: 67px;
    margin-left: 20px;
    margin-right: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
}

.request {
    margin: 20px;
}

.work_find{
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 681px;
    height: 69px;
    align-items: center;


    background: #FFFFFF;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #303030;
}
.find_work_button {
    padding: 10px 17.5px;
    background-color: #2D9CDB;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    display: block;
    margin: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.find_work_button:hover {
    background-color: #7FB7D7;
    color:white;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}


/* Contacts */

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts_title {
    font-size: 24px;
    margin: 20px 0;
}
.adress_title {
    font-size:20px;
    margin-top: 20px;
}
.adress_text {
    margin-bottom: 20px;
}
.worktime_title {
    font-size: 20px;
}
.worktime_hours {
    margin-bottom: 20px;
}
.phone_title {
    font-size: 20px;
}
.phone_number {
    margin-bottom:20px;
}
.feedback_title {
    font-size: 20px;
}
.feedback_text {
    margin-bottom: 20px;
}
.map {
    margin: 40px 0;
}

/* Register */
.profile_page_content {
    margin-top: 40px;
}
.btn {
    background-color: #303030;
    color: bisque;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
}
.btn:hover {
    background-color: burlywood;
    color: teal;
}
.form_label {
    width: 150px;
    font-style: italic;
    margin: 20px;
}
.submit_btn {
    margin: 40px 0 0 20px;
}



/* Cart Content */
.cart_name {
    font-style: italic;
    font-size: 30px;
    margin: 30px 0;
}
.cart_item {
    display:flex;
    flex-direction: row;
    text-align: center;
}
.single_item_view {
    display: flex;
    flex-direction: column;
}
.item_information {
    display: flex;
    flex-direction: row;

    margin: 40px 0;
}
.item_data {
    display: flex;
    flex-direction: row;
}
.cart_navPoint {
    width: 150px;
}
.position {
    width: 150px;

    text-align: center;
}
.cart_add_btn {
    margin-top: 50px;
    margin-left:40px;
    margin-bottom: 10px;

    font-size: 20px;
    text-decoration: none;
}
.cart_del_btn {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 20px;

    text-decoration: none;
}

/* Order page */

.order_point {
    list-style-type: none;
}

