{% extends '../main/baseStructure.html' %}

{% block content%}
<div class="title">Аккаунт</div>
<div class="form_col">
    <div class="form_point" >
        <div class="text-center">         
            <h5>Форма восстановления</h5>
            <p>Пожалуйста введите новый пароль (очень надежный и хорошо запоминающийся)</p>
        </div>

    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' class="btn">Восстановить пароль</button>
        </form>
    
</div>

{% endblock%}