{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/contacts.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/about.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/register.css'%}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- Include OTHER -->
    {% block include %}
    {% endblock %}
    <!-- END Include OTHER -->
    <title>{{ title }}</title>
</head>
<body>

<!-- Header -->
<header class="header">
    <!-- Ограничитель -->
    <div class="container">
        <div class="header__inner">
            <!-- Лого + навигатор -->
            <div class="header_left_side">
                <!-- лого -->
                <a href="{% url 'home' %}"class="logo"> /projectPizza </a>
                <!-- навигатор -->
                <div class="navbar">
                    {% for point in menu %}
                    {% if point.title == selected_page %}
                        <a href="{% url point.url %}" class='navPointLeft' id='selected_page'>{{ point.title }}</a>
                    {% else %}
                        <a href="{% url point.url %}" class='navPointLeft'>{{ point.title }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Корзина + Кабинет -->
            <div class="header_right_side">
                <div class="basket_button">
                    {% if is_selected %}
                        <a href="{% url 'cart' %}" class="navPointRight" id='selected'>Корзина</a>
                    {% else %}
                        <a href="{% url 'cart' %}" class="navPointRight">Корзина</a>
                    {% endif %}
                </div>
                    <!-- кабинет -->
                <div class="profile">
                    <a href="{% url 'profile' %}"><img class="profile_logo" src= "{% static 'main/images/profile_off.svg'%}"  alt="Профиль"></a>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- END Header -->


<div class="container"> 
    <div class ="content">
    
        <!-- Page Content -->
        {% block content %}
            
        {% endblock %}
        <!-- END PageContent -->
    </div>
</div>
</div>

<!-- Footer -->
<footer class="footer">
    <!-- Ограничитель -->
    <div class="container">
        <!-- Общее содержимое -->
        <div class="footer_inner">
            <div class="footer_left_side">
                <div class="cols">
                    <div class="first_col">
                        <p class="footer_logo1">Проект Пицца</p>
                        {% for point in menu%}
                        <a href="{% url point.url %}" class="footer_nav_point">{{point.title}}</a>
                        {% endfor %}
                        <!-- <a href="" class="footer_nav_point">Главная</a>
                        <a href="#" class="footer_nav_point">Акции</a>
                        <a href="#" class="footer_nav_point">Контакты</a>
                        <a href="#" class="footer_nav_point">О нас</a> -->
                    </div>
                    <div class="second_col">
                        <p class="footer_logo1">Работа</p>
                        <a href="{% url 'vacancies' %}" class="footer_nav_point">Вакансии</a>
                    </div>
                </div>
                <div class="logos"> 
                    <p class="footer_logo2">/project_pizza</p>
                    <p class="copyright"> © 2021 Project Pizza</p>
                </div>
            </div>

            <div class="footer_right_side">
                <div class="stores">
                    <a href="#"> <img class="google_play_logo" src="{% static 'main/images/google_play.svg'%}" alt="Google Play"/></a>
                    <a href="#"> <img class="app_store_logo" src="{% static 'main/images/app_store.svg'%}" alt="App Store"/></a>
                </div>
                
                <div class="contacts"> 
                    <a href="https://t.me/admiralKucha_bot" class="social_link"><img class="telegram" src="{% static 'main/images/telegram.svg'%}"/></a>
                    <div class="email_phone">
                        <a class="phone" href="callto:+7(930)554-01-09">+7 930 554-01-09</a>
                        <a class="email" href="mailto:our.project.pizza@gmail.com"> our.project.pizza@gmail.com </a>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->
</body>
</html>
