{% extends 'main/baseStructure.html'%}


{% block content %}

    <div class="container">
        <div class="title">Контакты</div>
        <div class="contacts_inner">
            <div class="left_col">
                <div class="contacts_top">
                    <div class="contacts_block">
                        <h5 class="contacts_subtitle">Адрес</h5>
                        <p class="contacts_text">город Тверь, Садовый Переулок, 35</p>
                    </div>
                    <div class="contacts_block">
                        <h5 class="contacts_subtitle">Время работы</h5>
                        <p class="contacts_text">Пн-Пт: 8:00 – 23:00<br>Сб-Вс: 10:00 – 00:00</p>
                    </div>
                </div>
                <div class="contacts_bottom">
                    <div class="contacts_block">
                        <h5 class="contacts_subtitle">Телефон</h5>
                        <p class="contacts_text">+7 930 554-01-09</p>
                    </div>
                    <div class="contacts_block">
                        <h5 class="contacts_subtitle">Вопросы, отзывы и предложения:</h5>
                        <a class="contacts_text" href="mailto:our.project.pizza@gmail.com"> our.project.pizza@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="right_col">
                <div class="map">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4365.0893941885615!2d35.90126919421874!3d56.83660020310078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b687110c0db8e7%3A0x4871208829606d7d!2z0KLQstCT0KMg0LrQvtGA0L_Rg9GBIDM!5e0!3m2!1sru!2sru!4v1640266377414!5m2!1sru!2sru" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}