{% extends 'main/baseStructure.html'%}

{% block content %}
<div class="container">
    <!-- Форма авторизации -->
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{form.non_field_errors}}</div>
        {% for f in form %}
        <div class="form_point">
            <p><label for="{{ f.id_for_label }}" class="form_label">{{f.label}}:</label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
        </div>
        {% endfor %}
        <button type='submit' class='reg_access_btn'>Войти</button>
    </form>
</div>
{% endblock %}