{% extends 'main/baseStructure.html'%}

{% block content %}
<div class="container">
    <div class="profile_page_content">
        <div class="profile_info">
            {% if request.user.is_authenticated %}
            <!-- Для авторизованного пользователя: -->
            <!-- Блок данных пользователя -->
            <h5>{{user.first_name}}</h5>
            <h5>{{user.last_name}}</h5>
            <h5>{{user.email}}</h5>
            <div class="profile_logout"><a href="{% url 'logout' %}" class='profile_logout_btn'>Выйти из профиля</a></div>
        </div>
            <!-- Список всех заказов аккаунта -->
        <div class="profile_orders_history">
            <div class="profile_orders_title">Ваша история заказов</div>
            <div class="orders_list">
                {% for order in orders %} 
                    <div class="order_item">
                        <span class="order_id">Номер заказа: {{order.id}}</span>
                        <span class="order_total_cost">Сумма заказа: {{order.total_cost}}$</span>
                    </div>
                {% endfor%}
            </div>
        </div>
        </div>
        {% else %}
            <!-- Для гостя -->
            <a href="{% url 'register' %}" class="btn_reg">Регистрация</a>
            <a href="{% url 'login' %}" class="btn_auth">Авторизация</a>
        {% endif %} 
    </div>
</div>

{% endblock %}