{% extends 'main/baseStructure.html'%}

{% block content %}
<div class="container">
    <div class="profile_page_content">
        {% if request.user.is_authenticated %}
            <!-- Для авторизованного пользователя: -->
            <h5>{{user.username}}</h5>
            <a href="{% url 'logout' %}" class="logout_btn">Выйти из профиля</a>
        {% else %}
            <!-- Для гостя -->
            <a href="{% url 'register' %}" class="register_btn">Регистрация</a>
            <a href="{% url 'login' %}" class="login_btn">Авторизация</a>
        {% endif %}
    </div>
</div>

{% endblock %}