{% extends '../main/baseStructure.html'%}
{% block content %}
<div class="title">Аккаунт</div>
<div class="form_col">
    <div class="text-center">
        <h5 class='welcom_phrase_reset_password'> Забыли пароль? </h5>
        <p class="text_reset_password">Пожалуйста, введите данные вашей электронной почты, <br> к которой привязан профиль и мы тут же отправим Вам письмо с указаниями!</p>
    </div>
    <br/>

    <form action="" method="POST" class="text_center">
        {% csrf_token %}
        {{form.as_p}}
        <br/>
        <button type='submit' class="btn"> Отправить </button>
    </form>
    <div class="text_center">
        <a href="/profile/login/" class="small_btn">Назад</a>
    </div>
</div>
{% endblock%}
