{% extends '../main/baseStructure.html' %} 
{% block content%}
<div class="container">
    <div class="text-center" >
        <p>Мы отправили Вам инструкции по восстановлению пароля</p>
        <p>(Если указанный адрес электронной почты существует и принадлежит Вам, то очень скоро наше письмо придет ;)</p>
        <p>Но проверить спам не мешает, а то мало ли</p>
    </div>
    <div class="text-center">
    <a href="{% url 'home' %}">Вернуться к странице авторизации</a>
    </div>
</div>
{% endblock%}