{% extends '../main/baseStructure.html'%}
{% block content %}
<div class="container">
    <div class="text-center">
        <h5 class='welcom_phrase_reset_password'>Здравствуйте! Вы попали сюда потому что забыли пароль?</h5>
        <p class="text_reset_password">Пожалуйста, введите данные вашей электронной почты, к которой привязан профиль и мы тут же отправим Вам письмо с указаниями!</p>
    </div>
    <br/>

    <form action="" method="POST" class="text-center">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' class='send_email_reset_btn'>Отправить</button>
    </form>
    <div class="text-center">
        <a href="{% url 'home' %}">Вернуться к странице авторизации</a>
    </div>
</div>
{% endblock%}
