{% extends '../main/baseStructure.html' %}

{% block content%}
<div class="title">Аккаунт</div>
<div class="text-center" >
    <h5>Форма восстановления</h5>
    <p>Пожалуйста введите новый пароль (очень надежный и хорошо запоминающийся)</p>
</div>
<form action="" method="POST">
    {% csrf_token %} 
    {% for f in form %}
        <div class="point">{{f.label}}: {{f}}</div>
    {% endfor %}
    <div class="notice">Учтите! ващ пароль должен влезать в требования!!!</div>
    <button type='submit'>Восстановить пароль</button>
</form>


{% endblock%}