{% extends '../main/baseStructure.html' %}

{% block content%}
<div class="title">Аккаунт</div>
<div class="form_col">
    <div class="form_point" >
        <div class="text-center">         
            <h5>Форма восстановления</h5>
            <p>Пожалуйста введите новый пароль (очень надежный и хорошо запоминающийся)</p>
        </div>

    </div>
    <form action="" method="POST">
        <div class="form_point"> 
            <div class="text-center">         
                {% csrf_token %} 
                {% for f in form %}
                    <div class="form_point"><div class="form_label">{{f.label}} </div> {{f}}</div>
                {% endfor %}
                <div class="notice">Учтите! Ваш пароль должен влезать в требования!</div>
                </br>
                <button type='submit' class="btn">Восстановить пароль</button>
            </div>
            
           
        </div>
        
    </form>
    
</div>

{% endblock%}