{% extends '../main/baseStructure.html'%}


{% block content %}
<!-- Форма регистрации -->
<div class="title">Аккаунт</div>
<div class="form_col">
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        <div class="form_point">
            <label class='form_label' for="{{ f.id_for_label}}">{{f.label}}</label>{{f}}
            <div class="form_error">{{f.errors}}</div>
        </div>
        {% endfor %}   
        <button type="submit" class='btn'>Зарегистрироваться</button>    
    </form> 
</div>
    



{% endblock %}