{% extends '../main/baseStructure.html' %}

{% block content %}
<div class="container">
    {% if type == 'get' %}
    <div class="order_creation_inner">
        <h5 class='order_title'>Ваш заказ</h5>
        <div class="order_form">
            <form method="post" class="order-form">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% for f in form %}
                <div class="form_point">
                    <p><label for="{{ f.id_for_label }}" class="form_label">{{f.label}}:</label>{{f}}</p>
                    <div class="form-error">{{f.errors}}</div>
                </div>
                {% endfor %}
                <button type='submit' class='order_create_btn'>Оформить</button>
            </form>
        </div>
        <div class="order_info">
            <ul class='order_list'>
                {% for dict in cart %}
                {% with item=dict.item %}
                <li class='order_point'>
                    <span class="point_info">{{ item.product.name }}: Количество - {{ item.quantity }}x </span>
                    <span class='total_point_cost'> Итог: {{ item.total_price }}</span>
                </li>
                {% endwith %}
                    {% endfor %}
            </ul>
            <p class='total_order_cost'>Всего: {{cart.get_total_price }} руб</p>
        </div>
    </div>
    {% else %}
    <h1>Спасибо за доверие!</h1>
    <p>Ваш заказ был успешно оформлен. Ваш номер заказа - 
        <strong>{{ order_id }}</strong>.</p>
    {% endif %}

</div>
{% endblock %}